@font-face {
	font-family: 'iconfont';
	src: url('@/static/icon_font/iconfont.ttf') format('truetype');
}
.time-label{
	color: #666666;
	margin: 30rpx;
	font-size: 36rpx;
	line-height: 80rpx;
}

.v-time-range {
	width: 750rpx;
	display: flex;
	align-items: center;
	padding: 0 30rpx;
	box-sizing: border-box;

	.time-range {
		flex: 1;
		border-radius: 10rpx;
		height: 80rpx;
		padding-right: 30rpx;
		text-align: right;
		line-height: 80rpx;
		background-color: #F5F5F5;
		font-family: iconfont;
		font-size: 34rpx;
		color: #666666;
		letter-spacing: 1rpx;
	}
}
.v-btn{
	width: 100%;
	height: 60rpx;
	display: flex;
	margin-top: 60rpx;
	justify-content: space-around;
	.t-btn{
		width: 30%;
		height: 80rpx;
		text-align: center;
		font-size: 36rpx;
		line-height: 80rpx;
	}
	.btn-speedy{
		border: solid #06bebe 1rpx;
		border-radius: 10rpx;
		color: #06bebe;
	}
	.btn-report{
		background-color: #06bebe;
		border: solid #06bebe 1rpx;
		border-radius: 10rpx;
		color: #FFFFFF;
	}
}
